.profile {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
}

.transactionTable th,
.transactionTable td {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
    text-align: left;
}

.transactionTable th {
    background-color: rgba(255, 255, 255, 0.1);
}

.tokenTransferList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tokenTransferList li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0;
}

.tokenTransferList li:last-child {
    border-bottom: none;
}
